<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="EDF.UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <userSettings>
    <EDF.UI.Properties.Settings>
      <setting name="FormExpanded" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DefaultPrinter" serializeAs="String">
        <value />
      </setting>
      <setting name="eDrawingDefault" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ReactiveCheckbox" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OPChecked" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="BMChecked" serializeAs="String">
        <value>False</value>
      </setting>
    </EDF.UI.Properties.Settings>
  </userSettings>
  <connectionStrings>
    <add name="Default" connectionString="Data Source=%LocalAppData%\eDrawingFinder\DrawingDatabase.db;Version=3;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>